* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0;
  font-family: poppins;
}

img {
  max-width: 150px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.card {
  background-color: #ee8641;
  border: 2px solid black;
  border-radius: 7px;
  padding: 20px 40px;
  box-shadow: 10 20px 4px rgba(0, 0 , 0, 0.7);
  text-align: center;
  width: 50%;
  max-width: 500px;
}

section {
  text-align: center;
}

p {
  font-size: 18px;
  margin: 20px 0;
  font-family: montserrat;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff882;
  color: #000;
  border: 2px solid black;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

a i {
  padding: 0 5px;
}

a:hover {
  background-color: #d7d274;
}
